body {
  background-color: #f9f7f7;
}

/* 게시글 목록 */
.user-list {
  margin: 20px;
}

/* 게시글 아이템 */
.user-item {
  background: #ffffff;
  border: 1.5px solid #ddd;
  border-radius: 12px;
  padding: 16px;
  transition: 0.2s ease;
  min-width: 100px;
  margin: 0 auto 15px auto;
}

.user-item:hover {
  transform: translateY(-2px);
  border-color: #888;
  box-shadow: 4px 5px 5px rgba(0, 0, 0, 0);
}

.user-item h3 {
  margin-top: 0.3em;
  font-size: 20px;
  color: #222;
  font-weight: 600;
  margin-bottom: 0;
}

.user-item p {
  margin-bottom: 0.4em;
  margin-top: 0.3em;
  font-size: 20px;
  color: #555;
}

/* 버튼 */
.btn {
  background: #4bae51;
  color: white;
  border: none;
  padding: 11px 10px;
  margin-right: 8px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
  font-size: 18px;
}

.btn:hover {
  background: #39843e;
}

.btn:nth-of-type(2) {
  background: #f34236; /* 삭제 버튼 빨간색 */
}

.btn:nth-of-type(2):hover {
  background: rgb(170, 47, 47);
}

.form-page {
  padding: 0 20px;
}

/* 새 글 작성 폼 */
.user-form {
  display: flex;
  padding: 0px;
  border-radius: 14px;
  justify-content: center;
  width: 100%;
}

.input-box {
  flex: 1 1 150px;
  padding: 0.2em 0.4em;
  border: 1px solid #ddd;
  border-radius: 8px;
  min-width: 100px;
  margin-right: 1em;
  font-size: 15px;
}

.add-btn {
  align-self: flex-end;
  min-width: 50px;
  background: #0277ff;
  padding: 0.7em 0.5em;
  color: white;
  border: none;
  padding: 11px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
  font-size: 17px;
}

.user-form button:hover {
  background: #024ea4;
}

.edit-btn {
  margin-top: 0.5em;
}

.edit-title {
  font-weight: 600;
}

.edit-input {
  padding: 0.5em 0.4em;
  border: 1px solid #ddd;
  border-radius: 10px;
  min-width: 200px;
  font-size: 16px;
}
